*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    
}

i{
    margin-right: 10px;
}

/* Header and Navigation Styles */
.header{
    background: #FFF8F3;
    background-image: url('images/header_bg.png'), url('images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left ;
    padding-top: 50px;
}



nav{
    display: flex;
    justify-content: space-between;
    margin:  0 200px 50px 200px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
    font-size: 20px;
    line-height: 27px;
    color: #474747;

}

.header-btn{
    display: flex;
}

.contact-btn{
    color: #FD6E0A;
    background: #FFF8F3;
    font-weight: 700;
    font-size: 20px;
    border: 2px solid;
    padding: 18px 35px;
    margin-left: 30px ;
    height: 64px;
    border-radius: 5px;
}

.contact-btn:hover{
    color: #fd2a0a;
    background:#fffcfc ;
}

.text-primary{
    color: #FD6E0A;
    margin-right: 5px;
}

.btn-primary{
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    color: #ffffff;
    background-color: #FD6E0A;
    
    
}

.btn-primary:hover{
    background-color: #fd2a0a;
}

/* Banner styles */
.banner{
    display: flex;
    align-items: center;
}

.sub-banner{
    margin: 0 200px;
}


.banner-title{
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;
    
}

.banner-sub-title{
    font-weight: 600;
    font-size: 45px;
    color: #474747;
    margin-bottom: 20px;
}

.banner-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

/* main section */
main{
    max-width: 1140px ;
    margin: 0 auto;
}


/* about section style */
.about{
    text-align: center;
    margin-top: 130px;
    background-color: #fff8f3;
    border-radius: 10px;
    padding: 130px 150px;
}

.section-title{
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    /* margin-top: 60px; */
    margin-bottom: 80px;
}

.section-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    width: 909px;
    padding-bottom: 34px;
    margin: 0 auto;
}

.about-info-container{
    display: flex;
    justify-content: space-around ;
}

.about .info-title{
    font-size: 20px;
    color: #757575;
}

.info-description{
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}

/* skills styles */

.skills-section{
    margin-top: 130px;
}

.skills-container{
    display: flex;
    gap: 24px;
    margin-top: 20px;

}

.skill{
    width: 267px;
    height: 300px;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

.skill-title{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #181818;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill-description{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}

/* Resume Styles */
.my-resume{
    margin-top: 130px;
}

.resume-title{
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    color: #474747;
}

.resume-content{
    display: flex;
    gap: 24px;
}

.resume-sub-content{
    margin-right: 0px;
}

.resume .title{
    font-weight: 700px;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
    line-height: 34px;
}

.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}


.resume .sub-title{ 
    color: #757575;
    font-weight: 600px;
    font-size: 20px;
    margin-bottom: 20px;
}

.resume .description{
    color: #757575;
    margin-bottom: 30px;
}

.download-cv{
    margin: 30px 0 100px 0;
    text-align: center;

}

/* contact styles */

.contact{
    display: flex;
    gap: 117px;
    background: #fff8e3;
    padding: 130px 230px;
}

.contact .section-title{
    text-align: left;
}

.contact-description{
    color: #474747;
    margin-top: 20px;
    margin-bottom: 30px;
}

a{
    text-decoration: none;
}


.contact 
input[type="text"], 
input[type="email"],
textarea {
    margin-bottom: 24px;
    border: 0;
    width: 461px;
    /* height: 64px; */
    padding: 18px 30px;
}
/* 
input{
    height: 64px;
} */


